SpotifyDataAnalysis/home/dash_apps/finished_apps/CSVFile/Australia.csv
SpotifyDataAnalysis/home/dash_apps/finished_apps/CSVFile/Mexico.csv
SpotifyDataAnalysis/home/dash_apps/finished_apps/CSVFile/Spain.csv
SpotifyDataAnalysis/home/dash_apps/finished_apps/CSVFile/USA.csv
SpotifyDataAnalysis/home/dash_apps/finished_apps/CSVFile/England.csv
SpotifyDataAnalysis/home/dash_apps/finished_apps/CSVFile/argentina.csv