{% extends 'base.html'%}
{% load static %}
{% load plotly_dash %}
{% block content %}
<h1>SEASONALITY OF AUSTRALIA</h1>
  <div class="card"style="height: 100%; width: 100%">
    {% autoescape off %}
    <h3 style="text-align:center;">Time Series Showing Danceability For Australia Top 200 Charts</h3>
    {{ p_d }}
    <h3 style="text-align:center;">Time Series Showing Energy For Australia Top 200 Charts</h3>
    {{ p_e }}
    <h3 style="text-align:center;">Time Series Showing Key For Australia Top 200 Charts</h3>
    {{ p_k }}
    <h3 style="text-align:center;">Time Series Showing Loudness For Australia Top 200 Charts</h3>
    {{ p_l }}
    <h3 style="text-align:center;">Time Series Showing Mode For Australia Top 200 Charts</h3>
    {{ p_m }}
    <h3 style="text-align:center;">Time Series Showing Speechiness For Australia Top 200 Charts</h3>
    {{ p_s }}
    <h3 style="text-align:center;">Time Series Showing Acousticness For Australia Top 200 Charts</h3>
    {{ p_a }}
    <h3 style="text-align:center;">Time Series Showing Instrumentalness For Australia Top 200 Charts</h3>
    {{ p_i }}
    <h3 style="text-align:center;">Time Series Showing Liveness For Australia Top 200 Charts</h3>
    {{ p_li }}
    <h3 style="text-align:center;">Time Series Showing Valence For Australia Top 200 Charts</h3>
    {{ p_v }}
    <h3 style="text-align:center;">Time Series Showing Tempo For Australia Top 200 Charts</h3>
    {{ p_t }}
    <h3 style="text-align:center;">Time Series Showing Duration(ms) For Australia Top 200 Charts</h3>
    {{ p_du }}
    {% endautoescape %}
  </div>
  <!--#'energy','key','loudness','mode','speechiness','acousticness','instrumentalness','liveness','valence','tempo','duration_ms'-->



{%endblock%}
